<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form id="saveform">
        게시물 번호 : <input type="text" name="mno">
        게시물 제목 : <input type="text" name="mtitle">
        게시물 내용 : <input type="text" name="mcontent">
        게시물 작성자 : <input type="text" name="mwrite">
        <button type="button" onclick="board()">등록</button>
    </form>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/member.js"></script>
</body>
</html>