<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>게시물 등록</h3>
    <form id="saveform">

        카테고리
        <select name="category">
            <option value="자유게시판" >자유게시판</option>
            <option value="질문게시판" >질문게시판</option>
        </select>

        게시물 제목 : <input type="text" name="btitle"> <br>
        게시물 내용 : <input type="text" name="bcontent"> <br>
        게시물 작성자 : <input type="text" name="bwrite"> <br>
        게시물 비밀번호 : <input type="password" name="bpassword">
        <button type="button" onclick="board()">등록</button>
    </form>

    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/write.js"></script>
</body>
</html>